@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
  --purple: #8F77B5;
  --light-purple: #A37DE5;
  --white: #FDF7FF;
  --black: #4A4453;
  --cream: #FEFEDF;
  --link: #FAEAFF;
  --pink: #FFE6FF;
  --border: #947CBA;
  --bright-purple: #C094FF;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}
body{
  font-weight: 400;
  background-color: var(--white);
  height: 100vh;
  color: var(--black);
}
body::-webkit-scrollbar {
  display: none;
}
h1, h2, h3, h4, h5, h6{
  font-family: Quicksand, sans-serif;
}

h1{
  font-size: 48px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 28px;
}

a{
  color: var(--pink);
}

.mb-1{
  margin-bottom: 1rem;
}
.mb-2{
  margin-bottom: 2rem;
}
main{
  overflow: hidden;
  min-height: 100vh;
}
#content{
  position: relative;
  transition: all .3s;
  overflow-y: scroll;
  overflow-x: hidden;
  direction: rtl;
  height: 100vh;
}
#content a{
  color: var(--purple);
  text-decoration: none;
}
article{
  transition: all .3s;
  direction: ltr;
}
.padding-left{
  padding-right: 25%;
}

aside{
  position: fixed;
  overflow-y: scroll;
  height: 100vh;
  width: 25%;
  right: -30%;
  transition: all .4s;
  direction: ltr;
  z-index: 13 !important;
  padding-bottom: 220px;
}
aside::-webkit-scrollbar {
  display: none;
}
aside img{
  width: 100%;
}
.show{
  right: 0% !important;
  top: 88px;
}
.fixed{
  position: fixed;
}

/* ================ SCROLL BAR ============= */
/* width */
::-webkit-scrollbar {
  width: 6px;
  direction: rtl;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--cream);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-purple);
  transition: all .3s;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--purple);

}
.float-button{
  display: none;
  position: fixed;
  top: 50%;
  right: 1%;
  transition: ease-in-out .45s;
  color: var(--purple);
  opacity: .5;
  font-size: 2rem;
  transform-origin: 50% 50%;
}

/* =============== NAVBAR ============= */
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 80px;
  background: rgba(163, 125, 229, 0.88);  
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.7px);
  -webkit-backdrop-filter: blur(1.7px);
  border: 1px solid rgba(163, 125, 229, 0.1);
  color: var(--cream);
  width: 100%;
  z-index: 9999;
}
.nav a img{
  height: 40px;
}
.nav ul {
  list-style: none;
  gap: 2rem;
  display: flex;
  align-items: center;
}
.nav ul li a{
  color: inherit;
  font-family: Quicksand, sans-serif;
  text-decoration: none;
  font-weight: 600;
}
.nav-toggler{
  display: none;
}

.nav-menu-mobile {
  left: -110%;
  transition: all .4s;
  opacity: 0;
}


.nav-menu-mobile-show{
  left: 0;
  opacity: 1;
}

.nav-toggler button{
  color: var(--cream);
  background-color: var(--bright-purple);   
  width: 36px;
  height: 36px;
  font-size: 1.2rem;
  padding: 0px 5px;
  border: solid .5px var(--pink);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-toggler button:hover{
  border-radius: 8px;
}

.nav-menu-mobile{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 80px;
  background-color: var(--light-purple);
  color: var(--cream);
  width: 101%;
  z-index: 99999;
  position: absolute;
  
}

.nav-menu-mobile button{
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 32px;
  color: var(--pink);
  top: 20px;
  right: 30px;
}

/* ============== HOME ============= */
.home{
  display: flex;
  padding: 0 80px 0 80px;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  height: calc(100vh);
}
.home .image{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 80px;
  height: 100%;
}
#potrait{
  transition: all .3s;
}
.potrait-in{
  animation-name: potrait-change;
  animation-duration: 1s;
  transition: ease-in .1s;
}
@keyframes potrait-change {
  from {opacity: .5; scale: 1.03;}
  to {opacity: 1; scale: 1;}
}
.home .image .costume-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100px;
  gap: 1rem;
}
.home .image .costume-list .potrait{
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  background-position: top;
  border: solid 3px var(--light-purple);
  transition: all .18s;
  z-index: 7 !important;
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
}
.home .image .costume-list .glass{
  content: '';
  position: absolute;
  background: rgba(255, 230, 255, 0.07);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(.5px);
  -webkit-backdrop-filter: blur(.5px);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  z-index: 6 !important;
  transform: translate(-50%, -50%);
  transition: all .4s;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
}
.home .image .costume-list .potrait .img-pot{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 5;
  transition: all .3s;
}
.home .image .costume-list .potrait:hover{
  border-width: 4px;
  scale: 1.2;
  border-color: var(--bright-purple);
}
.home .image .costume-list .potrait:hover .img-pot{
  scale: 1.3;
}
.home .image .costume-list .potrait:hover .glass{
  -webkit-clip-path: circle(0.0% at 50% 50%);
  clip-path: circle(0.0% at 50% 50%);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}
.home .image img{
  height: 400px;
}
.home .content{
  width: 100%;
}
.home .content .quotes{
  font-weight: 500;
  font-size: 20px;
  margin-bottom: .5rem;
  display: block;
}


/* =========== ASIDE ================ */
.aside-card{
  padding: 30px 20px;
  background: rgba(163, 125, 229, 0.88);
  backdrop-filter: blur(1.7px);
  -webkit-backdrop-filter: blur(1.7px);
  border: 1px solid rgba(163, 125, 229, 0.1);
  margin: 10px 10px 80px 10px;
  border-radius: 16px;
}
.aside-card .aside-img{
  height: 200px;
  aspect-ratio: 1/1;
  object-fit: contain;
  background-position: center;
  width: 200px;

  padding: 5px;
}
.section-card{
  background: rgba(253, 247, 255, 0.28);  
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  border-radius: 32px;
}
.aside-body{
  padding-top: 10px;
  color: var(--white);
}
.aside-body a{
  color: var(--pink) !important;
  transition: all .3s;
}
.aside-body a:hover{
  color: var(--white) !important;
  text-decoration: underline !important;
}
.aside-body h3{
  color: var(--white);
  font-size: 1.3rem;
}
.aside-body table{
  margin-bottom: 16px;
  margin-top: 10px;
  width: 100%;
  font-size: 11px;
}
.aside-body table tr{
  display: flex;
  margin-bottom: 8px;
  column-gap: 10px;
}
.aside-body table tr td{
  width: 60%;
}
.aside-body table tr th{
  width: 40%;
  text-align: start;
}
.aside-body table td ul{
  margin-left: 1rem;
}
.aside-body img{
  width: 180px;
} 
.text-center{
  text-align: center;
}

.swipe-left{
  right: 10%;
  top: 60px;
}

/* ============== SINOPSIS ============= */
.sinopsis{
  padding: 20px 30px;
}

/* ================= PERSONALITAS =============== */
.personalitas{
  padding: 20px 30px;
}

/* ============== SEJARAH =================== */
.sejarah{
  padding: 20px 30px;
}

/* =============== MEDIA =================== */
.media{
  padding: 20px 30px;
}

.media h2{
  font-size: 32px;
}

.galeri-wrapper{
  display: grid;
  line-height: 0;
  column-count: 5;
  column-gap: 0;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}
.galeri-wrapper .img-wrapper{
  width: 100% !important;
  height: auto !important;
  overflow: hidden;
  border: solid 1px var(--purple);
  position: relative;
}
.img-wrapper .img-info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(74, 68, 83, 0.39);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(74, 68, 83, 0.3);
  opacity: 0;
  transition: ease-in .3s;
  z-index: 12 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: var(--white);
}
.img-wrapper .img-info h4{
  line-height: initial;
  text-align: center;
}
.img-wrapper .img-info a{
  display: none;
  color: var(--white) !important;
}
.galeri-wrapper .img-wrapper:hover img{
  scale: 1.2;
}
.galeri-wrapper .img-wrapper:hover .img-info{
  opacity: 1;
}
.galeri-wrapper .img-wrapper:hover a{
  display: inline;
}
.galeri-wrapper .img-wrapper img{
  width: 100% !important;
  height: auto !important;
  transition: all .3s;
}
.musik-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 30px;
}

.musik p{
  font-family: Quicksand, sans-serif;
  font-weight: 600;
  text-align: center;
  line-height: 2rem;
}
.musik-card{
  border-radius: 16px;
  width: 100%;
  aspect-ratio: 16/9;
}
.musik-card iframe{
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

/* ============== REFERENSI ============= */
.referensi{
  padding: 20px 80px;
}
.referensi ol{
  display: grid;
  column-count: 2;
  display: inline-block;
}
.referensi ol li{
  width: 100%;
  font-size: 11px !important;
}

/* ========== FOOTER============ */
footer{
  background-color: transparent;
  padding: 20px 80px;
  font-family: Quicksand, sans-serif;
  text-align: center;
  font-weight: 600;
  width: 100%;
  position: relative;
}


/* ===============MOBILE DEVICE============== */
@media only screen and (max-width: 780px) {

  body{
    font-size: .75rem;
    text-align: justify;
    overflow-y: scroll;
  }

  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 1.6rem;
  }

  .nav{
    padding: 10px 20px;
  }
  .nav a img{
    width: 100px;
    height: auto;
  }
  .nav ul{
    display: none;
  }
  .nav-toggler{
    display: block;
  }
  .nav-menu-mobile ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    width: 100%;
  }
  .nav-menu-mobile ul li{
    font-size: 1.3rem;
  }
  .nav-menu-mobile{
    right: 0;
    top:  0;
    
  }

  /* ================ ASIDE ================ */
  aside{
    width: 80%;
    transition: ease-in .4s;
  }
  .aside-card{
    margin: 0;
  }


  /* ================= HOME=================== */
  .home{
    flex-wrap: wrap;
    height: 100%;
    padding: 80px 30px 0 30px;
  }
  .home h1{
    text-align: center;
  }
  .home .content .quotes{
    font-size: 1.1rem;
    text-align: center;
  }
  .home .image .costume-list .potrait{
    width: 40px;
    height: 40px;
    border-width: 2px;
  }
  .home .image .costume-list .potrait:hover{
    border-width: 3px;
    scale: 1.3;
    border-color: var(--bright-purple);
  }

  /* ================= MEDIA =================== */
  .media h2{
    font-size: 1.6rem;
  }
  .galeri-wrapper{
    column-count: 2;
  }
  .musik-wrapper{
    grid-template-columns: 1fr;
  }

  .referensi{
    padding: 10px 30px;
  }
  .referensi ol{
    display: block;
    column-count: 1;
    padding-left: 15px;
    padding-right: 15px;
    word-wrap: break-word;
  }
  .referensi ol li{
    width: 100%;
    text-align: start;
  }


  /* ================= FLOAT BUTTON ================= */
  .float-button{
    display: block;
    
  }
  .float-button-swipe{
    transform: rotate(180deg);
  }
}